* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h4, h3, h2, h1, h5, h6 {
  margin: 0;
  padding: 0;
}

.FirstCartSection .QuaMoreAndLess, .FirstHomeDiv .FirstMapDiv, .FirstHomeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  margin: 15vh 0 0 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(31, 31, 31);
  color: rgb(173, 173, 173) !important;
}

.FirstHomeDiv {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  overflow-x: hidden;
  gap: 20px;
}
.FirstHomeDiv .FirstMapDiv {
  flex-direction: column;
  border: 2px solid rgb(173, 173, 173);
  border-radius: 20px;
  padding: 0px 0px 10px;
  overflow: hidden;
  position: relative;
}
.FirstHomeDiv .FirstMapDiv .ImgDiv {
  width: 100%;
}
.FirstHomeDiv .FirstMapDiv .ProdImages {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 20px;
  transition: 1s;
}
.FirstHomeDiv .FirstMapDiv .ImgDiv:hover .ProdImages {
  transform: scale(1.1);
}
.FirstHomeDiv .FirstMapDiv .IconIntoImage {
  display: none;
  position: absolute;
  right: 5%;
  top: 8%;
  font-weight: bold;
  filter: drop-shadow(3px 3px 5px black);
}
.FirstHomeDiv .FirstMapDiv .ImgDiv {
  cursor: pointer;
}
.FirstHomeDiv .FirstMapDiv .ImgDiv .Sale {
  color: White;
  background-color: red;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 15px;
  padding: 5px;
  font-weight: bold;
  -webkit-transform: rotate(-40deg);
}
.FirstHomeDiv .FirstMapDiv .ImgDiv:hover .IconIntoImage {
  display: block;
}
.FirstHomeDiv .FirstMapDiv h3 {
  color: white;
}
.FirstHomeDiv .FirstMapDiv .ProDesc {
  font-size: 16px;
  color: rgb(170, 170, 170);
}
.FirstHomeDiv .FirstMapDiv .MoreDet {
  background: linear-gradient(90deg, rgb(0, 212, 255) 40%, rgba(255, 255, 255, 0.3648809866) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.FirstHomeDiv .MoreDet:hover {
  animation: Moredet 1s linear infinite;
}
@keyframes Moredet {
  to {
    background-position: -200% center;
  }
}
.FirstHomeDiv button {
  background-color: gray;
  color: rgba(232, 232, 232, 0.853);
  padding: 7px 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
  margin: 0;
}
.FirstHomeDiv button:hover {
  background-color: rgb(173, 173, 173);
  color: rgb(31, 31, 31);
}
.FirstHomeDiv .AllPriceAndCart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around !important;
  margin-top: 10px;
}
.FirstHomeDiv .despri h5 {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}
.FirstHomeDiv .PreDesc h5::before {
  content: "";
  height: 4px;
  top: 50%;
  left: 0%;
  right: 0%;
  position: absolute;
  background-color: rgba(171, 0, 0, 0.784);
  transform: translate(50%, -50%);
  transform: rotate(-30deg);
}

.MainNav {
  z-index: 999;
  background-color: rgb(31, 31, 31) !important;
  width: 100vw;
  padding: 2.5vh 10vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.MainNav .CartBadge {
  display: flex;
  flex-direction: row;
}
.MainNav .CartBadge svg {
  font-size: 26px;
}
.MainNav .CartBadge span {
  color: rgba(255, 78, 47, 0.708);
  font-size: 16px;
  padding-bottom: 0;
  margin-top: -10px;
  background-color: rgb(173, 173, 173);
}
.MainNav .active {
  color: tomato;
}
.MainNav div {
  align-items: baseline !important;
}

.PopUpImgDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.192);
}

.IconIntoImagePop {
  position: fixed;
  top: 25vh;
  right: 25vw;
  font-size: 38px;
  cursor: pointer;
  z-index: 2;
}

.PopUpImg {
  height: 55vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  position: fixed;
  border-radius: 15px;
  z-index: 1;
}

.BeforeMapingCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100vw;
  overflow-x: hidden;
}
.BeforeMapingCart .TotalPri {
  position: fixed;
  top: 11vh;
  right: 0;
  padding: 5px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.585);
  border-radius: 15px 0 0 15px;
}
.BeforeMapingCart .TotalPri h4 {
  padding: 0;
  margin: 0;
}

.FirstCartSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw !important;
  margin: auto;
  border: 5px solid rgba(0, 0, 109, 0.505);
  border-radius: 25px;
  overflow: hidden;
  gap: 50px;
}
.FirstCartSection .leftSec {
  width: 700px;
  height: 300px;
}
.FirstCartSection .CartImages {
  width: 100%;
  height: 100%;
}
.FirstCartSection .rightSec {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding-right: 10px;
}
.FirstCartSection .DeleteAll {
  color: White;
  background-color: rgba(255, 78, 47, 0.708);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer !important;
}
.FirstCartSection .DeleteAll .DeleteAllText {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: bold;
  color: black !important;
}
.FirstCartSection .QuaMoreAndLess {
  justify-content: start;
  gap: 5px;
}
.FirstCartSection .QuaMoreAndLess h4 {
  text-align: center;
  text-justify: center;
}
.FirstCartSection .QuaMoreAndLess button {
  background-color: white;
  color: rgba(0, 0, 109, 0.505);
  font-size: 28px;
  padding: 0px 20px;
  border-radius: 20px;
  cursor: pointer !important;
}

.EmptyCarting {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.EmptyCarting a {
  border-bottom: 5px solid rgba(255, 0, 0, 0.367);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin-left: 5px;
}

@media screen and (min-width: 771px) and (max-width: 991px) {
  .CartImages {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 1px) and (max-width: 771px) {
  .IconIntoImagePop {
    right: 8vw;
  }
  .FirstCartSection {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw !important;
    padding-bottom: 10px;
    gap: 20px;
  }
  .FirstCartSection .rightSec {
    align-items: center;
    width: 100% !important;
  }
  .FirstCartSection .leftSec {
    width: 100% !important;
    height: 100% !important;
  }
  .FirstCartSection .CartImages {
    width: 100% !important;
    height: 100% !important;
  }
}
.MainDetails {
  margin-top: 10vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}
.MainDetails .MovingBar {
  background-color: goldenrod;
  padding: 20px 0;
  color: #000;
  width: 250vw;
}
.MainDetails .MovingBar h4 {
  padding: 0;
  margin: 0;
  animation: MovingBar 20s infinite linear 0s;
}
.MainDetails .MovingBar h4 span {
  font-size: 32px;
  color: rgb(88, 42, 255);
}

.MainSectionOnDetails {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.MainSectionOnDetails .RecDesigning {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 200px solid blue;
  border-bottom: 200px solid blue;
  transform: translate(-50%, -100%) rotate(-45deg);
  z-index: -1;
}
.MainSectionOnDetails .RecDesigning2 {
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 0;
  right: 0;
  border-left: 50px solid transparent;
  border-right: 200px solid blue;
  border-bottom: 200px solid blue;
  transform: translate(60%, 50%) rotate(30deg);
  z-index: -1;
}
.MainSectionOnDetails .LeftDetails .LeftDetailsImgDiv img {
  width: 100%;
  border-radius: 25px;
  min-height: 50vh;
  max-height: 70vh;
}
.MainSectionOnDetails .rightDetails {
  border: 3px solid black;
  border-radius: 25px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: start;
}
.MainSectionOnDetails .rightDetails .AllPriceAndCart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.MainSectionOnDetails .rightDetails button {
  background-color: gray;
  color: rgba(232, 232, 232, 0.853);
  padding: 7px 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
}
.MainSectionOnDetails .rightDetails button:hover {
  background-color: rgb(173, 173, 173);
  color: rgb(31, 31, 31);
}
.MainSectionOnDetails .rightDetails .PreDesc {
  opacity: 0.5;
}
.MainSectionOnDetails .rightDetails .despri h5 {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}
.MainSectionOnDetails .rightDetails .PreDesc h5::before {
  content: "";
  height: 4px;
  top: 50%;
  left: 0%;
  right: 0%;
  position: absolute;
  background-color: rgba(171, 0, 0, 0.784);
  transform: translate(50%, -50%);
  transform: rotate(-30deg);
}
.MainSectionOnDetails .rightDetails .newDesc {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

@keyframes MovingBar {
  from {
    transform: translateX(-60%);
  }
  to {
    transform: translateX(0%);
  }
}/*# sourceMappingURL=Syle.css.map */